html,
body,
h1,
select {
	font:
		14px/1.3em 'Open Sans',
		Arial,
		Verdana,
		Serif;
	margin: 0;
	padding: 0;
}

.title-bar {
	display: flex;
	min-height: 60px;
	align-items: center;
	width: 100%;
	background: #fff;
	box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06);
}
.title-bar,
.title-bar a {
	color: #000;
	text-decoration: none;
}
.title-bar a:hover {
	text-decoration: underline;
}
.title-bar .column {
	padding: 0 10px;
}
.title-bar select,
.title-bar button {
	background: #efefef;
	color: #000;
	border: 0;
	padding: 6px 12px;
	border-radius: 10px;
}
.title-bar select:hover,
.title-bar button:hover {
	background: #e8e8e8;
}
.title-bar button {
	cursor: pointer;
}

.flex-1 {
	flex: 1;
}
.text-end {
	text-align: end;
}
.text-gray {
	color: #d7d7d7;
}
@media only screen and (max-width: 700px) {
	.hidden-mobile {
		display: none;
	}
}
