{
	"printWidth": 140,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": true,
	"useTabs": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"trailingComma": "all"
			}
		}
	]
}
