
.sqd-designer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: none;
	background: #F6F6F6;
}

.sqd-designer, .sqd-drag {
	font-size: 13px;
	line-height: 1em;
}

.sqd-toolbox {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 20;
	width: 60px;
	background: #FFF;
	padding: 0 10px 10px;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
	border-radius: 10px;
}

.sqd-toolbox-item {
	position: relative;
	border: 1px solid #C3C3C3;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: move;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}
.sqd-toolbox-item:hover {
	border-color: #939393;
}

.sqd-toolbox-item-text {
	position: absolute;
	bottom: 13px;
	left: 0;
	right: 0;
	text-align: center;
}

.sqd-drag {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
}

/* .sqd-workspace */

.sqd-workspace {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	cursor: move;
}

.sqd-grid-path {
	stroke: #E3E3E3;
	stroke-width: 1;
}

.sqd-join {
	stroke-width: 2;
	stroke: #000;
}

.sqd-moving {
	opacity: 0.25;
}

/* .sqd-task */

.sqd-task-rect {
	fill: #FFF;
	stroke: #C3C3C3;
	filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, .15));
	stroke-width: 1;
}
.sqd-task-rect.sqd-selected {
	stroke: #ED4800;
	stroke-width: 2;
}
.sqd-task-text {
	fill: #000;
}

/* .sqd-switch */

.sqd-switch-region {
	stroke: #CECECE;
	stroke-width: 2;
	stroke-dasharray: 3;
}
.sqd-switch-region.sqd-selected {
	stroke: #ED4800;
	stroke-width: 2;
	stroke-dasharray: 0;
}
.sqd-switch-name-rect {
	fill: #2411DB;
}
.sqd-switch-name-text {
	fill: #FFF;
}
.sqd-switch-branch-rect {
	fill: #000;
}
.sqd-switch-branch-text {
	fill: #FFF;
}

/* .sqd-anchor */

.sqd-anchor {
	fill: #2C18DF;
}
.sqd-anchor.sqd-selected {
	fill: #ED4800;
}
.sqd-anchor-icon {
	fill: #FFF;
}

/* .sqd-placeholder */

.sqd-placeholder {
	fill: #ED4800;
}
.sqd-placeholder:hover {
	fill: black;
}
