
/********* light *********/

.sqd-theme-light.sqd-designer {
	background: #F9F9F9;
}

/* light > .sqd-toolbox */

.sqd-theme-light .sqd-toolbox {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-toolbox-filter {
	border: 1px solid #C3C3C3;
}
.sqd-theme-light .sqd-toolbox-filter:focus {
	border-color: #939393;
}
.sqd-theme-light .sqd-toolbox-group-title {
	background: #E5E5E5;
}
.sqd-theme-light .sqd-toolbox-item {
	border: 1px solid #C3C3C3;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-toolbox-item:hover {
	border: 1px solid #939393;
}
.sqd-theme-light .sqd-toolbox-item-icon.sqd-no-icon {
	background: #C6C6C6;
}

/* light > .sqd-control-bar */

.sqd-theme-light .sqd-control-bar {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-control-bar-button {
	border: 1px solid #C3C3C3;
}
.sqd-theme-light .sqd-control-bar-button:hover {
	border-color: #939393;
}
.sqd-theme-light .sqd-control-bar-button.sqd-delete .sqd-icon-path {
	fill: #E01A24;
}

/* light > .sqd-workspace */

.sqd-theme-light .sqd-grid-path {
	stroke: #E3E3E3;
}
.sqd-theme-light .sqd-join {
	stroke: #000;
}

/* light > .sqd-context-menu */

.sqd-theme-light.sqd-context-menu {
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	background: #FFF;
}
.sqd-theme-light .sqd-context-menu-group {
	color: #888;
}
.sqd-theme-light .sqd-context-menu-item:hover {
	background: #EEE;
}

/* light > .sqd-smart-editor */

.sqd-theme-light .sqd-smart-editor {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}
.sqd-theme-light .sqd-smart-editor-toggle {
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}

/* light > .sqd-step-task */

.sqd-theme-light .sqd-step-task-rect {
	fill: #FFF;
	stroke: #C3C3C3;
	filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, .15));
}
.sqd-theme-light .sqd-step-task-rect.sqd-selected {
	stroke: #ED4800;
}
.sqd-theme-light .sqd-step-task-text {
	fill: #000;
}
.sqd-theme-light .sqd-step-task-empty-icon {
	fill: #C6C6C6;
}

/* light > .sqd-input + .sqd-output */

.sqd-theme-light .sqd-input {
	fill: #FFF;
	stroke: #000;
}

.sqd-theme-light .sqd-output {
	fill: #000;
}

/* light > .sqd-region */

.sqd-theme-light .sqd-region {
	stroke: #CECECE;
}
.sqd-theme-light .sqd-region.sqd-selected {
	stroke: #ED4800;
}
.sqd-theme-light .sqd-label-primary .sqd-label-rect {
	fill: #2411DB;
}
.sqd-theme-light .sqd-label-secondary .sqd-label-rect {
	fill: #000;
}
.sqd-theme-light .sqd-label-text {
	fill: #FFF;
}

/* light > .sqd-root-start-stop */

.sqd-theme-light .sqd-root-start-stop-circle {
	fill: #2C18DF;
}
.sqd-theme-light .sqd-root-start-stop-icon {
	fill: #FFF;
}

/* light > .sqd-placeholder */

.sqd-theme-light .sqd-placeholder .sqd-placeholder-rect {
	fill: #D8D8D8;
	stroke: #6A6A6A;
}
.sqd-theme-light .sqd-placeholder-icon-path {
	fill: #2B2B2B;
}
.sqd-theme-light .sqd-placeholder.sqd-hover .sqd-placeholder-rect {
	fill: #ED4800;
}
.sqd-theme-light .sqd-placeholder.sqd-hover .sqd-placeholder-icon-path {
	fill: #FFF;
}

/* light > .sqd-validation-error */

.sqd-theme-light .sqd-validation-error {
	fill: #FFA200;
}
.sqd-theme-light .sqd-validation-error-icon-path {
	fill: #000;
}
