
/********* dark *********/

.sqd-theme-dark.sqd-designer {
	background: #1F1F1F;
}

/* dark > .sqd-toolbox */

.sqd-theme-dark .sqd-toolbox {
	background: #3F3F3F;
}
.sqd-theme-dark .sqd-toolbox-header-title {
	color: #FFF;

}
.sqd-theme-dark .sqd-toolbox-filter {
	border: 0;
	background: #242424;
	color: #FFF;
}
.sqd-theme-dark .sqd-toolbox-group-title {
	background: #242424;
	color: #FFF;
}
.sqd-theme-dark .sqd-toolbox-item {
	border: none;
	background: #C6C6C6;
}
.sqd-theme-dark .sqd-toolbox-item:hover {
	background: #D3D3D3;
}
.sqd-theme-dark .sqd-toolbox-item-icon.sqd-no-icon {
	background: #C6C6C6;
}
.sqd-theme-dark .sqd-control-bar-button.sqd-delete .sqd-icon-path {
	fill: #E01A24;
}

/* dark > .sqd-control-bar */

.sqd-theme-dark .sqd-control-bar {
	background: #3F3F3F;
}
.sqd-theme-dark .sqd-control-bar-button {
	background: #C6C6C6;
}
.sqd-theme-dark .sqd-control-bar-button:hover {
	background: #D3D3D3;
}

/* dark > .sqd-workspace */

.sqd-theme-dark .sqd-grid-path {
	stroke: #2A2A2A;
}
.sqd-theme-dark .sqd-join {
	stroke: #707070;
}

/* dark > .sqd-context-menu */

.sqd-theme-dark.sqd-context-menu {
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	background: #3F3F3F;
	color: #FFF;
}
.sqd-theme-dark .sqd-context-menu-group {
	color: #CCC;
}
.sqd-theme-dark .sqd-context-menu-item:hover {
	background: #525252;
}

/* dark > .sqd-smart-editor */

.sqd-theme-dark .sqd-smart-editor {
	background: #3F3F3F;
}
.sqd-theme-dark .sqd-smart-editor-toggle {
	background: #6F6F6F;
}

/* dark > .sqd-step-task */

.sqd-theme-dark .sqd-step-task-rect {
	fill: #C6C6C6;
	stroke: none;
	filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, .15));
}
.sqd-theme-dark .sqd-step-task-rect.sqd-selected {
	stroke: #FFF;
}
.sqd-theme-dark .sqd-step-task-text {
	fill: #000;
}
.sqd-theme-dark .sqd-step-task-empty-icon {
	fill: #C6C6C6;
}

/* dark > .sqd-input + .sqd-output */

.sqd-theme-dark .sqd-input {
	fill: #C6C6C6;
	stroke: #707070;
}

.sqd-theme-dark .sqd-output {
	fill: #707070;
}

/* dark > .sqd-region */

.sqd-theme-dark .sqd-region {
	stroke: #434343;
}
.sqd-theme-dark .sqd-region.sqd-selected {
	stroke: #FFF;
}
.sqd-theme-dark .sqd-label-primary .sqd-label-rect {
	fill: #2411DB;
}
.sqd-theme-dark .sqd-label-secondary .sqd-label-rect {
	fill: #0E0E0E;
}
.sqd-theme-dark .sqd-label-text {
	fill: #FFF;
}

/* dark > .sqd-root-start-stop */

.sqd-theme-dark .sqd-root-start-stop-circle {
	fill: #2C18DF;
}
.sqd-theme-dark .sqd-root-start-stop-icon {
	fill: #FFF;
}

/* dark > .sqd-placeholder */

.sqd-theme-dark .sqd-placeholder .sqd-placeholder-rect {
	fill: #0E0E0E;
	stroke: #6A6A6A;
}
.sqd-theme-dark .sqd-placeholder-icon-path {
	fill: #FFF;
}
.sqd-theme-dark .sqd-placeholder.sqd-hover .sqd-placeholder-rect {
	fill: #ED4800;
}
.sqd-theme-dark .sqd-placeholder.sqd-hover .sqd-placeholder-icon-path {
	fill: #FFF;
}

/* dark > .sqd-validation-error */

.sqd-theme-dark .sqd-validation-error {
	fill: #FFA200;
}
.sqd-theme-dark .sqd-validation-error-icon-path {
	fill: #000;
}
