<sqd-designer
	theme="light"
	[undoStackSize]="10"
	[definition]="definition"
	[toolboxConfiguration]="toolboxConfiguration"
	[stepsConfiguration]="stepsConfiguration"
	[areEditorsHidden]="false"
	[globalEditor]="globalEditor"
	[stepEditor]="stepEditor"
	(onReady)="onDesignerReady($event)"
	(onDefinitionChanged)="onDefinitionChanged($event)"
>
</sqd-designer>

<ng-template #globalEditor let-editor>
	<h2>Global Editor</h2>

	<h3>Velocity</h3>
	<input
		type="number"
		[value]="editor.definition.properties.velocity"
		(input)="updateProperty(editor.definition.properties, 'velocity', $event, editor.context)"
	/>
</ng-template>

<ng-template #stepEditor let-editor>
	<h2>Step Editor</h2>

	<h3>Name</h3>
	<input type="text" [value]="editor.step.name" (input)="updateName(editor.step, $event, editor.context)" />

	<h3>Velocity</h3>
	<input
		type="number"
		[value]="editor.step.properties.velocity"
		(input)="updateProperty(editor.step.properties, 'velocity', $event, editor.context)"
	/>
</ng-template>

<br />

<button (click)="reloadDefinitionClicked()">Reload definition</button>

<br />

<textarea cols="60" rows="18">{{ definitionJSON }}</textarea>
