name: main
on:
  push:
    branches:
      - main
      - develop
jobs:
  build:
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Node 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Packages
        run: bash .github/workflows/packages.sh
      - name: Demos
        run: bash .github/workflows/demos.sh
